Source: apparmor-profiles-subgraph
Maintainer: David McKinney <mckinney@subgraph.com> 
Section: admin
Priority: extra
Build-Depends: debhelper (>= 9),
               dh-apparmor,
               apparmor (>= 2.9.0),
               tor
Standards-Version: 3.9.8
Vcs-Browser: https://github.com/subgraph/apparmor-profiles-subgraph.git
Vcs-Git: https://github.com/subgraph/apparmor-profiles-subgraph.git
Homepage: https://subgraph.com/sgos/index.en.html

Package: apparmor-profiles-subgraph
Architecture: all
Depends: ${misc:Depends},
         apparmor (>= 2.9.0)
Description: Subgraph profiles for AppArmor Security policies
 This package provides various AppArmor profiles for Subgraph OS.
